# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore build folders (if any)
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore existing Git folders (if accidentally present inside frontend or backend)
frontend/.git/
backend/.git/
